<!DOCTYPE html>
<html ng-app="imageResizerApp" flow-init flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-files-submitted="$flow.upload()">

<head>
    <title>Image</title>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/libs/ng-flow/ng-flow-standalone.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <style>
        .thumbnail {
            max-width: 200px;
            max-height: 150px;
            line-height: 20px;
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Angular Image Resizer Service - Example</h1>
        <hr class="soften" />

        <div ng-controller="ImageThumbnailController">
            <div class="thumbnail" ng-hide="$flow.files.length">
                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
            </div>
            <div class="thumbnail" ng-show="$flow.files.length">
                <img flow-img="$flow.files[0]" id="imgSampleThumb" />
            </div>
            <div>
                <a href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
                <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
                <a href="#" class="btn" ng-show="$flow.files.length" ng-click="resizeImage()">Resize</a>
                <a href="#" class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">Remove</a>
            </div>
            <p>
                Only PNG,GIF,JPG files allowed.
            </p>
        </div>
    </div>
</body>

</html>